body{
    font-family: Arial;
    background-color:white;
}

nav{
    width:800px;
    margin:30px auto;
    display:flex;
}

nav a{
    text-decoration:none;
    color:black;
    background:#d4b483;
    padding:15px 40px;
    border:1px solid gray;
}

nav a:hover{
    background:#b99a68;
}

.activo{
    background:#2f8c3d;
    color:white;
}

.contenedor{
    width:450px;
    margin:50px;
    padding:30px;
    border:1px solid #ddd;
    background:#fafafa;
}

.titulo{
    border-left:5px solid #00a0d2;
    padding-left:10px;
    margin-bottom:40px;
    font-size:25px;
}

label{
    display:block;
    margin-top:25px;
    font-size:20px;
}

input{
    width:300px;
    height:35px;
    margin-top:10px;
    border:1px solid #ccc;
}

p{
    margin-top:30px;
    width:300px;
}

button{
    margin-top:30px;
    background:#0b8cc5;
    color:white;
    border:none;
    padding:12px 35px;
    font-size:16px;
}